/** app */
$app-bg-color-base: #fcd34c;
$app-bg-color-origin: orange;
$app-bg-color-blue: #4cbbfc;

/** rank */
$rank-bg-color-red: #f87394;
$rank-bg-color-purple: #de6df5;
$rank-bg-color-blue: #4cbbfc;
